<div id="product-list">
{{#each carts}}
    <h2>{{title}}</h2>
    <ul>
        {{#each products}}
            <li>{{product.title}} - Cantidad: {{quantity}}</li>
                <a href='#' onclick="js:deletProductCart('{{id}}')">eliminar</a>
        {{/each}}
    </ul>
{{/each}}
<div>

